:root {
    --color-background: #FFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: var(--color-background);
    color: #4D4D4D;
    display: flex;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
}

.container {
    /* border: #FF8080 solid 1px; */
}

#sprint {
    display: none;
    font-size: 1.5rem;
}

#status {
    display: none;
    font-size: 1.4rem;
}

#minutes, #seconds {
    font-size: 5rem;
    font-weight: 100;
}

#seconds {
    margin-left: .15em;
}

#minutes:hover {
    color: #4D4D4D;
}

.svg-circular-progress {
    position: fixed;
    height: 300px;
    width: 300px;
    /* border: #FF8080 solid 2px; */
}

#circular-progress {
    stroke: #4CC790;
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    /* animation-name: progress-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear; */
    transition: stroke-width .5s;
}

.circular-progress:hover {
    stroke-width: 2.5;
}

@keyframes progress-animation {
    from {stroke: #37C8AB;}
    to {stroke: #199de9;}
}