* {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 28px;
}

#sprint {
    color: #4d4d4d;
    margin: 0;
    font-size: 32px;
}

#status {
    margin: 0;
    font-size: 30px;
}

#minutes {
    display: inline;
    margin: 0;
    font-size: 80px;
}

#seconds {
    display: inline;
    margin: 0;
    font-size: 50px;
}